.header-flex {

    /** Position relative car l'image est placée en position: absolute; */

    position: relative;

    display: flex;

    /** Place au centre l'élément **/
    place-items: center;
    place-content: center;

    /** Empêche le scroll */
    overflow: hidden;

    padding: var(--padding-lg) 0;
}

.header-logo {
    position: relative;
    /** Placée au dessus de tous les autres éléments avec z-index */
    z-index: 99;

    /* Aligné au centre car text-align: center fonctionne que sur du texte */
    margin: 0 auto;

}

.header-bg {
    /** Positionné en absolute pour être en fond */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

}

.header-bg img {
    width: 100%;
    height: 100%;


    /** Couvre l'ensemble de la div et s'adapte à l'écran */
    object-fit: cover;
}