.scrollUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: linear visibility .3s, linear opacity .3s;
    height: 50px;
    width: 50px;
    background: rosybrown;
    border-radius: 999px;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    a {
        color: #fff;
        justify-self: center;
        display: inline;

        svg {
            vertical-align: middle;
        }
    }
}