.header-flex {

    /** Position relative car l'image est placée en position: absolute; */

    position: relative;

    display: flex;

    /** Place au centre l'élément **/
    place-items: center;



    place-content: center;

    /** Empêche le scroll */
    overflow: hidden;

    padding: var(--padding-lg) 0;
}

.header-logo {
    position: relative;
    /** Placée au dessus de tous les autres éléments avec z-index */
    z-index: 99;

    /* Aligné au centre car text-align: center fonctionne que sur du texte */
    margin: 0 auto;


    img {
        max-height: 150px;
    }

    transition: all 0.3s ease-in-out;
}

.header-logo:hover {
    transform: scale(1.2);
}

.language__img {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 15px;
    z-index: 150;
}


.header-bg {
    /** Positionné en absolute pour être en fond */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

}

.header-bg img {
    // width: 100%;
    // height: 100%;


    /** Couvre l'ensemble de la div et s'adapte à l'écran */
    object-fit: cover;

    width: 100%;


    @media (max-width: 480px) {
        width: 200%;
    }
}



.header-navigation ul li:nth-child(4) {
    @media (min-width: 768px) {
        margin-left: auto;
    }
}

.header-burger {
    background: var(--color-primary);
    text-align: start;
    padding-left: 12px;
    display: none;
    margin-left: auto;
}

.header-burger svg {
    stroke: #fff;
    width: 50px;
    height: 50px;
}

.header-close {
    display: none;
}


@media screen and (max-width: 768px) {


    .header-burger {

        display: block;
        cursor: pointer;
    }



    .header-close {
        display: block;
    }

    .header-close {
        display: block;
        cursor: pointer;
    }

    .header-close svg {
        position: absolute;
        top: 16px;
        right: 20px;
        width: 30px;
        height: 30px;
        stroke: gray;

    }

    .overlay-menu-mobile {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
    }

    .overlay-menu-mobile.open {
        display: block;
    }
}



.language {
    display: flex;
    flex-direction: column;
}

.language__img {
    margin: 2px;
    cursor: pointer;
    opacity: .5;
}

.language__img:hover,
.language__img_active {
    opacity: 1;
}

/* content */

.content {
    text-align: center;
    margin: auto;
}