.navigation {
    background: var(--color-primary);
    transition: transform linear .2s;
}

.navigation ul {
    display: flex;

    justify-content: center;

    @include media-max("phone-down") {
        flex-direction: column;
    }
}

.navigation ul li a {
    color: #fff;
    display: block;
    font-family: var(--font-family-title);
    font-weight: 700;
    text-decoration: none;
    font-size: var(--font-size-navigation);
    padding: var(--padding-md);
    transition: linear background-color .2s;
}

.navigation ul li a:hover {
    background-color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
    .navigation {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 500px;
        width: 85%;
        height: 100vh;
        border-radius: 0px 20px 20px 0px;
        border: 2px solid gray;

        background: #6a736f;
        background: linear-gradient(90deg, #6a736f 29%, #c9dad0 98%);

        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }

    .navigation.open {
        transform: initial;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation ul li {}

    .navigation ul li a {
        font-size: 24px;
        color: white;

    }



    .navigation ul li a:hover {
        color: #6a736f;
        ;
    }
}


// Gestion du cas avec JavaScript
#main-nav.visible {
    transform: translateX(0);
}