.main-content {
    max-width: 100%;
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    // Affichage de la photo de fond
    &:before {
        content: ''; // Obligatoire quand on utilise :before {} ou :after {}
        display: block; // Obligatoire avec :before {} ou :after {} - Transforme en type block pour qu'il occupe tout l'espace
        background-image: url('/images/FondFleur2.jpg'); // Gère l'image
        background-size: cover; // Force l'image à prendre 100% de l'espace
        opacity: .5; // Gère l'opacité
        position: absolute; // positionne le block en absolute pour qu'il prenne en compte les top/left/right/bottom
        top: 0; // positionne le block en haut
        left: 0; // force à démarrer le bloc à gauche
        right: 0; // force à démarrer le bloc à droite
        bottom: 0; // force à démarrer le bloc en bas
        height: 100%; // hauteur 100%
        width: 100%; // largeur 100%;
    }

    @include media-max("phone-down") {
        flex-direction: column;
        padding: 10px;

    }


}

.main-box {
    max-width: 100%;
    background: #fff;
    z-index: 999;
    position: relative;
    border-radius: 25px;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);


    @include media-max("phone-down") {
        flex-direction: column;
        max-width: 100%;


    }



}

.button-service-m {
    background: #6A736F;
    background: linear-gradient(90deg, rgba(106, 115, 111, 1) 29%, rgba(201, 218, 208, 1) 98%);
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    border-style: none;
    width: 100%;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);


}

.button-service-m:hover {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 224, 1) 100%);
}



.button-service-m:active {
    background: rgb(7, 129, 58);
}