.apropos {
    padding-top: var(--padding-md);
}

.apropos h1 {
    font-size: var(--font-size-h1);
    text-align: center;
}

.apropos p {
    text-align: center;
    line-height: 2;
    /* растояние между строчками*/
}

.apropos h2 {
    font-size: var(--font-size-h2);
    text-align: center;
    margin-top: 3%;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;



    @include media-max("phone-down") {
        flex-direction: column;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 2%;
    width: 100%;


}

.service img {
    border-radius: 5% 5% 0px 0px;
    width: 100%;

    // Adapte l'image au parent
    object-fit: cover;

}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}


.avis h1 {
    font-size: var(--font-size-h1);
    text-align: center;
    margin: 5%;
}