.apropos {
    padding-top: var(--padding-md);
}

.apropos h1 {
    font-size: var(--font-size-h1);
    text-align: center;
}

.apropos p {
    text-align: center;
}

.apropos h2 {
    font-size: var(--font-size-h2);
    text-align: center;
}